@import '../../styles/avalonVars.scss';
@import '../../../../variables';

.secretContainer {
    border: 1px $mainLightColor solid;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 4px;
    max-height: 25px;
    overflow: hidden;
    width: 150px;
    animation: closeAnimation 0.8s ease-in-out forwards;

    &.open {
        width: 90%;
        animation: openAnimation 0.8s ease-in-out forwards;
    }

    @keyframes openAnimation {
        0% {
            max-height: 25px;
            width: 150px;
        }
        25% {
            max-height: 25px;
            width: 90%;
        }
        100% {
            max-height: 500px;
        }
    }

    @keyframes closeAnimation {
        0% {
            max-height: 500px;
            width: 90%;
        }
        75% {
            max-height: 25px;
            width: 90%;
        }
    }

    .secretTitleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        .roleInfoTitle {
            font-size: 16px;
            margin-left: 10px;
        }
        .showInfoButton {
            cursor: pointer;
        }
    }

    .privateInfoWrapper {
        padding: 4px 10px;
        .secretInfoItem {
            // border-bottom: 1px $mainLightColor solid;
            position: relative;
            padding: 4px 0;
            &:after {
                content: '';
                position: absolute;
                width: 150px;
                height: 1px;
                background-color: $mainLightColor;
                bottom: 0;
                left: calc(50% - 75px);
            }
            &:last-child {
                &:after {
                    height: 0;
                }
            }
        }
    }
}
