// Colors
$mainDarkColor: #262322;
$mainLightColor: #f2e5d7;

// button colors
$btnBaseColor: #f2e5d7;
$btnHoverColor: #efc597;
$btnFocusColor: #b997ef;
$btnDisabledColor: #8b8b8b;

// text colors
$lightText: #f2e5d7;
$darkText: #262322;
