@import 'variables';
* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.App {
    text-align: center;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    background-color: $backgroundColor;
    color: $textColor;
}

.app-header {
    padding: 10px;
    background-color: #282c34;
    color: white;
}

.app-header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
