@import 'variables';
* {
    box-sizing: border-box;
    font-family: 'Idealist Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.App {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    // max-width: 700px;
    margin: 0 auto;
    background-color: $mainDarkColor;
    color: $mainLightColor;
    .content {
        max-width: 400px;
        margin: 0 auto;
    }
}

.app-header {
    // padding: 10px;
    background-color: #282c34;
    color: white;
}

.app-header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.right-to-left-enter {
    transform: translateX(100%);
}
.right-to-left-enter-active {
    transform: translateX(0);
    transition: all 1s ease;
}

.right-to-left-exit {
    transform: translateX(0);
}
.right-to-left-exit-active {
    transform: translateX(-100%);
    transition: all 1s ease;
}

.left-to-right-enter {
    transform: translateX(-100%);
}
.left-to-right-enter-active {
    transform: translateX(0);
    transition: all 1s ease;
}

.left-to-right-exit {
    transform: translateX(0);
}
.left-to-right-exit-active {
    transform: translateX(100%);
    transition: all 1s ease;
}
