.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    .playerListContainer {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        .playerList {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .gameFieldContainer {
        width: 100%;
        max-width: 500px;
        height: 300px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
        border: 1px black solid;
        border-radius: 5px;
        .questContainer {
            margin: 10px 0;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
        }
        .voteTrack {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
            .voteTrackItem {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px black solid;
                background-color: grey;
                &.active {
                    background-color: green;
                }
                &.danger {
                    background-color: red;
                }
            }
        }
    }

    .votingControls {
        width: 200px;
        margin-top: 10px;
        .voteButton {
            width: 40px;
            height: 40px;
            margin: 0 10px;
        }
    }
}

.questItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 2px black solid;
    // z-index: 10;
    &.success {
        border-color: green;
    }
    &.fail {
        border-color: red;
    }
    &.active::after {
        content: '';
        position: absolute;
        // transform: translate(100%, -100%);
        bottom: 0;
        right: -5px;
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 50%;
        z-index: 1;
    }

    .questNumber {
        font-size: 10px;
    }
    .questPlayerCount {
        font-size: 14px;
    }
}

.playerItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px black solid;
    position: relative;

    &.target {
        border-color: red;
    }

    &.disconnected {
        opacity: 0.5;
    }

    .infoBar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10px;
        .infoItem {
            width: 20px;
            height: 100%;
            visibility: hidden;
        }
        .admin {
            background-color: aqua;
        }
        .leader {
            background-color: orangered;
        }
        .nominated {
            background-color: orange;
        }
        .show {
            visibility: visible;
        }
    }
    .imageContainer {
        height: 50px;
    }
    .name {
        height: 15px;
    }
    .voteResult {
        height: 25px;
    }
}
