@import '../../_variables';

.avalonWrapper {
    margin: 5px;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .playerListContainer {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        padding: 10px;
        .playerList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .gameFieldContainer {
        width: 100%;
        max-width: 500px;
        height: 300px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border: 1px white solid;
        border-radius: 5px;
        .questContainer {
            margin: 10px 0;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
        }
        .voteTrackContainer {
            width: 100%;
            .voteTrack {
                margin: 10px 0;
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-evenly;
                .voteTrackItem {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px black solid;
                    background-color: grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.active {
                        background-color: #03c966;
                    }
                    &.danger {
                        background-color: $dangerColor;
                    }
                }
            }
        }
    }
}

.questItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 2px black solid;
    // z-index: 10;
    &.success {
        border-color: green;
    }
    &.fail {
        border-color: red;
    }
    &.active::after {
        content: '';
        position: absolute;
        // transform: translate(100%, -100%);
        bottom: 0;
        right: -5px;
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 50%;
        z-index: 1;
    }

    .questNumber {
        font-size: 10px;
    }
    .questPlayerCount {
        font-size: 14px;
    }
}

.roomInfo {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qr {
    margin-left: 10px;
    cursor: pointer;
}
