@import '../../_variables';

.avalonWrapper {
    padding: 10px;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .playerListContainer {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        padding: 10px;
        .playerList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }
    }
    .gameFieldContainer {
        width: 100%;
        max-width: 500px;
        height: 300px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border: 1px white solid;
        border-radius: 5px;
        .leaderTextContainer {
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            .leaderText {
                margin-left: 4px;
            }
        }
        .leaderIconWrapper {
            height: 20px;
        }
        .questContainer {
            margin: 10px 0;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
        }
        .voteTrackContainer {
            width: 100%;
            font-size: 14px;
            .voteTrack {
                margin: 10px 0;
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-evenly;
                .voteTrackItem {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px black solid;
                    background-color: grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.active {
                        background-color: $readyColor;
                    }
                    &.danger {
                        background-color: $dangerColor;
                    }
                }
            }
        }
    }
}

.roomInfo {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qr {
    margin-left: 10px;
    cursor: pointer;
}

.side {
    color: $goodColor;
    &.evilSide {
        color: $dangerColor;
    }
}

.roleInfoButton {
    cursor: pointer;
    height: 20px;
}

.leaderIcon {
    color: gold;
}

.secretContainer {
    border: 1px $textColor solid;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
    max-height: 25px;
    // transition: max-width 0.15s ease-out;
    transition: max-height 0.2s, width 0.15s ease-out;
    overflow: hidden;
    width: 150px;
    // max-width: 90%;

    &.open {
        width: 90%;
        max-height: 500px;
        transition: max-height 0.3s, width 0.25s ease-in;
        // transition: max-width 0.25s ease-in;
    }
    .secretTitleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        .roleInfoTitle {
            font-size: 16px;
            margin-left: 10px;
        }
        .showInfoButton {
            cursor: pointer;
        }
    }

    .privateInfoWrapper {
        .secretInfoItem {
            // border-bottom: 1px $textColor solid;
            position: relative;
            padding: 4px 0;
            &:after {
                content: '';
                position: absolute;
                width: 150px;
                height: 1px;
                background-color: $textColor;
                bottom: 0;
                left: calc(50% - 75px);
            }
            &:last-child {
                &:after {
                    height: 0;
                }
            }
        }
    }
}

.confirmPartyButton {
    border: 1px $textColor solid;
    background-color: transparent;
    padding: 5px;
    color: $textColor;
    margin: 5px 0;
}
