@import '../../_variables';

.avalonWrapper {
    padding: 10px;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .playerListContainer {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        padding: 10px;
        .playerList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }
    }
    .gameFieldContainer {
        width: 100%;
        max-width: 500px;
        height: 300px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border: 1px white solid;
        border-radius: 5px;
        .leaderIconWrapper {
            height: 20px;
        }
        .questContainer {
            margin: 10px 0;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
        }
        .voteTrackContainer {
            width: 100%;
            .voteTrack {
                margin: 10px 0;
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-evenly;
                .voteTrackItem {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px black solid;
                    background-color: grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.active {
                        background-color: $readyColor;
                    }
                    &.danger {
                        background-color: $dangerColor;
                    }
                }
            }
        }
    }
}

.roomInfo {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qr {
    margin-left: 10px;
    cursor: pointer;
}

.side {
    color: $goodColor;
    &.evilSide {
        color: $dangerColor;
    }
}

.roleInfoButton {
    cursor: pointer;
    height: 20px;
}

.leaderIcon {
    color: gold;
}
