.welcomeContainer {
    width: 100%;
    max-width: 700px;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.actionContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}