@import '../../../variables';
@import './avalonVars';

.avalonWrapper {
    padding: 20px;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .addRolesWrapper {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10px;
        margin: 20px;
    }

    .addRolesWrapper > * {
        justify-self: start;
        font-size: 12px;
    }
    .playerListContainer {
        width: 100%;
        margin-top: 40px;
        .playerList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }
    }
    .gameFieldContainer {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;

        & > * {
            margin-bottom: 20px;
        }

        .leaderTextContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            .leaderText {
                margin-left: 4px;
                font-size: 12px;
                color: $leaderColor;
            }
        }

        .gameMessageContainer {
            width: 100%;
            background-color: $mainLightColor;
            color: $mainDarkColor;
            min-height: 25px;
            padding: 4px;
            border-radius: 4px;
            .gameMessageText {
                display: inline-block;
            }
        }

        .questContainer {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
        }
        .voteTrackContainer {
            width: 100%;
            font-size: 14px;
            .voteTrack {
                margin: 10px 0;
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-evenly;
                .voteTrackItem {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px black solid;
                    background-color: grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.active {
                        background-color: $readyColor;
                    }
                    &.danger {
                        background-color: $dangerColor;
                    }
                }
            }
        }
    }
}

.roomInfo {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    & > * {
        flex-basis: 33%;
    }
    .roomInfoItem {
        font-size: 14px;
        display: flex;
        align-items: center;
        &.start {
            justify-content: flex-start;
        }
        &.end {
            justify-content: flex-end;
        }
    }
    .gameTitle {
        font-size: 16px;
    }
}
.qr {
    margin-left: 10px;
    cursor: pointer;
}

.side {
    color: $goodColor;
    &.evilSide {
        color: $dangerColor;
    }
}

.roleInfoButton {
    cursor: pointer;
    height: 20px;
}

.leaderIcon {
    color: gold;
}

.secretContainer {
    border: 1px $mainLightColor solid;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
    max-height: 25px;
    // transition: max-width 0.15s ease-out;
    transition: max-height 0.2s, width 0.15s ease-out;
    overflow: hidden;
    width: 150px;
    // max-width: 90%;

    &.open {
        width: 90%;
        max-height: 500px;
        transition: max-height 0.3s, width 0.25s ease-in;
        // transition: max-width 0.25s ease-in;
    }
    .secretTitleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        .roleInfoTitle {
            font-size: 16px;
            margin-left: 10px;
        }
        .showInfoButton {
            cursor: pointer;
        }
    }

    .privateInfoWrapper {
        .secretInfoItem {
            // border-bottom: 1px $mainLightColor solid;
            position: relative;
            padding: 4px 0;
            &:after {
                content: '';
                position: absolute;
                width: 150px;
                height: 1px;
                background-color: $mainLightColor;
                bottom: 0;
                left: calc(50% - 75px);
            }
            &:last-child {
                &:after {
                    height: 0;
                }
            }
        }
    }
}

.confirmPartyButton {
    width: 50%;
}

.playerActionContainer {
    position: sticky;
    width: 100%;
    bottom: 35px;
}

.lineUp {
    animation: 1s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translate(0, 80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate(0, 40%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0%);
    }
}
