@import '../../_variables';
@import '../../Games/Avalon/styles/avalonVars.scss';

.customCheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox + label {
    display: inline-flex;
    align-items: flex-start;
    user-select: none;
}
.customCheckbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid $mainLightColor;
    border-radius: 0.25em;
    margin-right: 0.5em;
    cursor: pointer;
}

.customCheckbox:checked + label::before {
    background-color: $readyColor;
}

.customCheckbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: $btnFocusColor;
}
