@import '../../../../variables';
@import '../../styles/avalonVars';

.votingControls {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .voteButton {
        color: $mainLightColor;
        font-size: 12px;
        width: 45%;
        height: 32px;
        margin: 0 10px;
        outline: none;
        border: none;
        color: white;
        cursor: pointer;

        &.good {
            background-color: $goodColor;
        }
        &.danger {
            background-color: $dangerColor;
        }
    }
}
